body{
    background: linear-gradient(left to right,pink,grey);
    text-align: center;
}
body div{
    padding: 4vw;
}
body div form{
    margin: 2% 15% auto 15%;
    padding: 4% 0 4% 0;
    animation: infinite 8s ease-in-out shadowColor;
}
body div form h1{
    text-shadow: 0 0 3px black;
    color: white;
    letter-spacing: 0.8vw; 
}
body div form #succes{
    color: darkslateblue;
}
body div form h3{
    color: red;
}
body div form input{
    width: 40%;
    margin: 1vw;
    padding: 1.5vw;
    font-size: 1vw;
    letter-spacing: 0.5vw;
    color: grey;
}
body div form #submit{
    width: 45.5%;
    margin: 2vw;
    padding: 1.5vw;
}
body div form a{
    display: inline-block;
    text-decoration: none;
    margin: 1vw;
}
body div form a:hover{
    text-decoration: underline;
}
@keyframes shadowColor{
    0%{
        box-shadow: 0px 2px 13px red;
    }
    25%{
        box-shadow: 0px 2px 15px orange;
    }
    50%{
        box-shadow: 0px 2px 15px green;
    }
    75%{
        box-shadow: 0px 2px 14px blue;
    }
    100%{
        box-shadow: 0px 2px 17px purple;
    }
}